/*@font-face {
  font-family: 'Rubik-Regular';
  src: local('Rubik-Regular'), url(static/fonts/Rubik-Regular.ttf) format('ttf');
}*/

html {
  background-color: #ffffff;
}

body {
  margin: 0;
  /*font-family: "Rubik", sans-serif;*/
  font-size: 1rem;
  color: #000;
}

button {
  cursor: pointer;
  background: #00357f;
  color: #c7ddfc;
  border: 0 #54bf66 solid;
}

header {
  margin-top: 1rem;

  h1.brand {
    font-size: 2rem;
    line-height: 2rem;
    img {
      max-height: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}

#footer {
  .about {
    margin-top: 1rem;
    padding: 1rem;

    p {
      margin-top: 1rem;
    }
  }
  .copyright {
    padding: 1rem;
    text-align: center;
  }
}

.trade-display {
  .make-offer-container {
    text-align: center;
    svg.make-offer,
    button.make-offer {
      margin-top: 200px;
    }
    svg.make-offer {
      width: 75%;
      height: auto;
    }
  }
}

.make-offer-steps {
  list-style-type: none;
  width: 400px;
  padding: 0;

  li {
    margin-bottom: 1rem;
    display: inline-block;

    div {
      float: left;
      height: 2.25rem;
    }

    .label {
      width: 250px;
    }

    .controls {
      width: 150px;
      button {
        width: 10px;
      }
    }
  }
}

.token-selector,
.token-display {
  .token-reference {
    width: 100%;
    input {
    }
  }
}
